fastapi
uvicorn[standard]
# # CPU-only PyTorch from official index
# torch==2.4.1+cpu --index-url https://download.pytorch.org/whl/cpu
# torchaudio==2.4.1+cpu --index-url https://download.pytorch.org/whl/cpu
# torchvision==0.19.1+cpu --index-url https://download.pytorch.org/whl/cpu
sentencepiece
sacremoses
indic-nlp-library
CTranslate2

huggingface-hub
tqdm
python-dotenv
pydantic==2.5.3
deepl==1.17.0
httpx==0.26.0